.nav-section {
    background-color: $eerie-black;
    height: 96px;
    
    @media screen  and (min-width:768px) {
        padding: 0 130px; 
    }

    &__logo {
        width: 81px;
        height: 34px;  
        @media screen and (min-width: 768px) {
            width: 79px;
            height: 46px;    
        }
    }

    &__izq {
        justify-content: end;
    }
}
