.tarjeta-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 400px;
    border : 0; // para borrar el border de Card
    text-align: center;

    font-family: $playfair;
    font-size: $x-large;
    font-weight: $black;
    font-style: $italic;
    // Para pantallas sobre 768 cambia a flex-direction row
    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row; 
        padding: 0 3rem;
    }

    &__img {
        border-radius: 160px;
    }
}

.tarjeta-section--red {
    font-family: $roboto;
    font-size: $medium;
    font-weight: $light;
    font-style: $normal;
    color: $ruddy-pink;
}
